svg path {
  fill: none;
  stroke: #000;
  stroke-width: 6;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-dasharray: 1700;
  stroke-dashoffset: 1700;
  animation: 
    dash 5s linear forwards;
}
/* @-webkit-keyframes dash { */
/*   to { */
/*     stroke-dashoffset: 0; */
/*   } */
/* } */
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.banner-container {
  width: 60%;
  margin: auto;
}

.scaling-svg-container {
 background: url("rainbanner.png") top center no-repeat;
 width: 100%; 
 background-size: cover;
 height: 0; 
 padding: 0; /*reset*/
 padding-bottom: 56%; 
 /* override this inline for aspect ratio other than square */
 /* padding-bottom css tricks hack to preserve aspect ratio, background image height/width = 275/491=56% */
}

/* .scaling-svg { */
/*  position: absolute; */ 
/*  height: 100%; */ 
/*  width: 100%; */ 
/*  left: 0; */ 
/*  top: 0; */
/* } */


