svg path {
  fill: none;
  stroke: #000;
  stroke-width: 6;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-dasharray: 1700;
  stroke-dashoffset: 1700;
  animation: 
    dash 5s linear forwards;
}
/* @-webkit-keyframes dash { */
/*   to { */
/*     stroke-dashoffset: 0; */
/*   } */
/* } */
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.scaling-svg-container {
 background: url("rainbanner.png") top center no-repeat;
 position: relative; 
 height: 0; 
 width: 100%; 
 padding: 0;
 padding-bottom: 100%; 
 /* override this inline for aspect ratio other than square */
}

.scaling-svg {
 position: absolute; 
 height: 100%; 
 width: 100%; 
 left: 0; 
 top: 0;
}

.banner-container {
  width: 40%;
  margin: auto;
}
