.banner-container {
  width: 60%;
  margin: auto;
}

.scaling-svg-container {
 background: url("rainbanner.png") top center no-repeat;
 width: 100%; 
 background-size: cover;
 height: 0; 
 padding: 0; /*reset*/
 padding-bottom: 56%; 
 /* override this inline for aspect ratio other than square */
 /* padding-bottom css tricks hack to preserve aspect ratio, background image height/width = 275/491=56% */
}

.svg-s {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 367.54;
  stroke-dashoffset: 367.54;
  animation: 
  dash 0.75s linear forwards;
}

.svg-c {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 187.79;
  stroke-dashoffset: 187.79;
  animation-name: dash; 
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.75s;
}

.svg-r-a {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 136.16;
  stroke-dashoffset: 136.16;
  animation-name: dash; 
  animation-duration: 0.375s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.svg-r-b {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 128.58;
  stroke-dashoffset: 128.58;
  animation-name: dash; 
  animation-duration: 0.375s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1.875s;
}

.svg-i {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 111.98;
  stroke-dashoffset: 111.98;
  animation-name: dash; 
  animation-duration: 0.375s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 2.25s;
}

.svg-dot {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 47.31;
  stroke-dashoffset: 47.31;
  animation-name: dash; 
  animation-duration: 0.375s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 2.625s;
}

.svg-p-a {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 190.8;
  stroke-dashoffset: 190.8;
  animation-name: dash; 
  animation-duration: 0.375s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.svg-p-b {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 161.9;
  stroke-dashoffset: 161.9;
  animation-name: dash; 
  animation-duration: 0.375s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 3.375s;
}

.svg-t {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 180.05;
  stroke-dashoffset: 180.05;
  animation-name: dash; 
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 3.75s;
}

.svg-t-bar {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 46.58;
  stroke-dashoffset: 46.58;
  animation-name: dash; 
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 4.125s;
}

.svg-ttwo {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 191.16;
  stroke-dashoffset: 191.16;
  animation-name: dash; 
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 4.375s;
}

.svg-ttwo-bar {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 53.37;
  stroke-dashoffset: 53.37;
  animation-name: dash; 
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 4.875s;
}
.svg-e {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 238.86;
  stroke-dashoffset: 238.86;
  animation-name: dash; 
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 5.125s;
}

.svg-a {
  fill: none;
  opacity: 1;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 301.2324;
  stroke-dashoffset: 301.2324;
  animation-name: dash; 
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 5.875s;
}

.svg-stwo {
  fill: none;
  opacity: 1;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 208.03;
  stroke-dashoffset: 208.03;
  animation-name: dash; 
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 6.625s;
}

.svg-etwo {
  fill: none;
  opacity: 1;
  stroke: #000;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 246.35;
  stroke-dashoffset: 246.35;
  animation-name: dash; 
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 7.375s;
}

@keyframes dash {
  10% {
    stroke-width: 6;
  }   
  to {
    stroke-width: 6;
    stroke-dashoffset: 0;
  }
}

